<a href="https://colab.research.google.com/github/ChristianKitte/HelloPandas/blob/main/Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Infos und Dokus**


![image.png]()

...wie geil ist das denn, dass ich jetzt einfach Bilder einfügen kann :)

***Ressourcen***

* https://numpy.org/
* https://pandas.pydata.org/ 
* https://pandas.pydata.org/pandas-docs/version/0.23/
* https://www.tutorialspoint.com/google_colab

In [ ]:
%%html
<marquee style='width: 50%; color: Green;'>Data Science - EA 4 - Do the following exercise in a Jupyter Notebook</marquee>

***1) Importe der Bibliotheken und Download der Quelldatei von GitHub***

In [ ]:
# Importe
import pandas as pd #https://pandas.pydata.org/
import numpy as np

print("imports done")

imports done

In [ ]:
url = 'https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv'
data = pd.read_csv(url)

print("Daten wurden herunter geladen...")
print("Datentyp = " + str(type(data)))

Daten wurden herunter geladen...
Datentyp = <class 'pandas.core.frame.DataFrame'>

***2) Einige Informationen über den Datensatz anzeigen***

In [ ]:
print("Nützliche Basisinformationen:")
print()

print("Anzahl Elemente = " + str(data.size))
print()
print("Ersten 3 Zeilen:")
print(data.head(3))
print()
print("Letzten 4 Zeilen:")
print(data.tail(4))
print("Shape: " + str(data.shape))
print()
print("Spalten: " + str(data.columns))
print()
#print("Shape: " + str(data.info))
#print()
print("Anzahl non-NaN Daten je Spalte : ")
print(str(data.count()))
print()

Nützliche Basisinformationen:

Anzahl Elemente = 25

Ersten 3 Zeilen:
      Name     People     Area   BIP Currency
0  Germany   82521653   357385  3466      EUR
1    Japan  126045000   377835  4938      YEN
2   Canada   36503097  9984670  1529      CAD

Letzten 4 Zeilen:
       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL
Shape: (5, 5)

Spalten: Index(['Name', 'People', 'Area', 'BIP', 'Currency'], dtype='object')

Anzahl non-NaN Daten je Spalte :
Name        5
People      5
Area        5
BIP         5
Currency    5
dtype: int64

***3) Sortierung, Summen, Mittelwert und Median***

Bitte wählen Sie für die folgenden drei Ausgaben jeweils eine Spalte aus und betätigen Sie dann den Pfeil auf der linken Seite, um die Ausgabe darunter zu aktualisieren

In [ ]:
auswahl = "BIP" #@param ["Name", "People", "Area", "BIP"]
sortdir = "DESC" #@param ["ASC", "DESC"]

print("Eine sortierte Ausgabe der Daten")
print()

print("Aktuell sortiert nach - " + auswahl)
print()

asc=True

if sortdir=="ASC":
  asc=True
else:
  asc=False

if auswahl=="Name":
  print(data.sort_values(by="Name",ascending=asc))  # Case Sensitive!
elif auswahl=="People":  
  print(data.sort_values(by="People",ascending=asc))  # Case Sensitive!
elif auswahl=="Area":  
  print(data.sort_values(by="Area",ascending=asc))  # Case Sensitive!
elif auswahl=="BIP":  
  print(data.sort_values(by="BIP",ascending=asc))  # Case Sensitive!

Eine sortierte Ausgabe der Daten

Aktuell sortiert nach - BIP

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD

In [ ]:
auswahl = "BIP" #@param ["People", "Area", "BIP"]

print("Summen...")
print()

print("Aktuell - " + auswahl)
print()

if auswahl=="People":
  print("Anzahl Menschen: " + str(data["People"].sum()))  # Case Sensitive!
  d = data["People"]
  print(str(type(d)))
elif auswahl=="Area":  
  print("Größe der Fläche: " + str(data["Area"].sum()))  # Case Sensitive!
  d = data["Area"]
  print(str(type(d)))
elif auswahl=="BIP":  
  print("Größe BIP: " + str(data["BIP"].sum()))  # Case Sensitive!
  d = data["BIP"]
  print(str(type(d)))

Summen...

Aktuell - BIP

Größe BIP: 13581
<class 'pandas.core.series.Series'>

In [ ]:
auswahl = "BIP" #@param ["People", "Area", "BIP"]

print("Durchschnittswerte...")
print()

print("Aktuell - " + auswahl)
print()

if auswahl=="People":
  print("über die Anzahl Menschen: " + str(data["People"].mean()))  # Case Sensitive!
  d = data["People"]
  print(str(type(d)))
elif auswahl=="Area":  
  print("über die Größe der Fläche: " + str(data["Area"].mean()))  # Case Sensitive!
  d = data["Area"]
  print(str(type(d)))
elif auswahl=="BIP":  
  print("über den BIP: " + str(data["BIP"].mean()))  # Case Sensitive!
  d = data["BIP"]
  print(str(type(d)))

Durchschnittswerte...

Aktuell - BIP

über den BIP: 2716.2
<class 'pandas.core.series.Series'>

In [ ]:
auswahl = "BIP" #@param ["People", "Area", "BIP"]

print("Median...")
print()

print("Aktuell - " + auswahl)
print()

if auswahl=="People":
  print("über die Anzahl Menschen: " + str(data["People"].median()))  # Case Sensitive!
  d = data["People"]
  print(str(type(d)))
elif auswahl=="Area":  
  print("über die Größe der Fläche: " + str(data["Area"].median()))  # Case Sensitive!
  d = data["Area"]
  print(str(type(d)))
elif auswahl=="BIP":  
  print("über den BIP: " + str(data["BIP"].median()))  # Case Sensitive!
  d = data["BIP"]
  print(str(type(d)))

Median...

Aktuell - BIP

über den BIP: 1850.0
<class 'pandas.core.series.Series'>

***4) Filterungen und Spaltenauswahl zur Anzeige***

Hierbei handelt es sich speziell um die Aufgaben:

* Show all the row of countries who have the EURO
* Show only name and Currency in a new data frame
* Show only the rows/countries that have more than 2000 BIP (it is in Milliarden USD Bruttoinlandsprodukt)
* Select all countries where with inhabitants between 50 and 150 Mio

In [ ]:
# https://cmdlinetips.com/2018/02/how-to-subset-pandas-dataframe-based-on-values-of-a-column/
# https://stackoverflow.com/questions/11285613/selecting-multiple-columns-in-a-pandas-dataframe

print("Alle Länder, welche den Euro als Währung haben. Es werden nur die Felder 'Name' und 'Währung' ausgegeben...")
print()

filteredDataFrame=data["Currency"]=="EUR"

filteredView=data[filteredDataFrame]
filteredView

res=filteredView[["Name","Currency"]]
res

Alle Länder, welche den Euro als Währung haben. Es werden nur die Felder 'Name' und 'Währung' ausgegeben...

      Name Currency
0  Germany      EUR
3    Italy      EUR

In [ ]:
print("Alle Länder, welche einen BIP von mehr(!) als 2000 haben. Es werden nur die Felder 'Name' und 'BIP' ausgegeben...")
print()

filteredDataFrame=data["BIP"]>2000 # nice to have no problems here :)

filteredView=data[filteredDataFrame] # filteredDataFrame enthält True/False Werte! Diese werden Hier zur Filterung verwendet.
filteredView

res=filteredView[["Name","BIP"]]
res

Alle Länder, welche einen BIP von mehr(!) als 2000 haben. Es werden nur die Felder 'Name' und 'BIP' ausgegeben...

      Name   BIP
0  Germany  3466
1    Japan  4938

In [ ]:
print("...die bessere Möglichkeit, die Aufgabe zu lösen, da hier die Filterung sofort ausgeführt wird. Zum ") 
print("Vergleich: Oben wurden Boolsche Werte zurück gegeben, welche dann in einen zweiten Schritte für die ") 
print("eigentliche Filterung verwendet wurden. Es ist aber gut, auch diesen Weg zu kennen, der vielleicht ")
print("mal nützlich sein kann.") 
print()

filteredDataFrame=data[data["BIP"]>2000] # nice to know :)
filteredDataFrame[["Name","BIP"]]

...die bessere Möglichkeit, die Aufgabe zu lösen, da hier die Filterung sofort ausgeführt wird. Zum
Vergleich: Oben wurden Boolsche Werte zurück gegeben, welche dann in einen zweiten Schritte für die
eigentliche Filterung verwendet wurden. Es ist aber gut, auch diesen Weg zu kennen, der vielleicht
mal nützlich sein kann.

      Name   BIP
0  Germany  3466
1    Japan  4938

In [ ]:
#https://stackoverflow.com/questions/22086116/how-do-you-filter-pandas-dataframes-by-multiple-columns

print("Alle Länder mit einer Einwohnerzahl von größer/gleich(!) 50 bis kleiner/gleich(!) 150 Mio. Es werden nur die Felder 'Name' und 'Einwohnerzahl' ausgegeben...")
print()

filteredDataFrame=data[(data["People"]>=50000000) & (data["People"]<=150000000)] # cool :)
filteredDataFrame[["Name","People"]]

Alle Länder mit einer Einwohnerzahl von größer/gleich(!) 50 bis kleiner/gleich(!) 150 Mio. Es werden nur die Felder 'Name' und 'Einwohnerzahl' ausgegeben...

      Name     People
0  Germany   82521653
1    Japan  126045000
3    Italy   60501718

**5) Feld BIP in Bip umbenennen und die Summe kalkulieren**

In diesem Fall gehen ich anders als zuvor vor. Mit Hilfe der Methode rename() benenne ich die Column um, wobei ich inplace auf False setze. Dies führt dazu, dass die ursprüngliche Bezeichnung erhalten bleibt.

Würde ich dies nicht machen, so würde das Original DataFrame geändert und vorhergehende Methoden in Bezug zu Operationen auf der Column "BIP" auf
einen Fehler laufen. 

Alternativ könnte ich auch grundsätzlich über den Index gehen, hätte hier aber andere Stolperfallen.

In [ ]:
# https://www.geeksforgeeks.org/how-to-rename-columns-in-pandas-dataframe/

renamedData=data.rename(columns={"BIP":"Bip"},inplace=False)

print("Die Summe des BIP beträgt: " + str(renamedData["Bip"].sum()))
print()
renamedData

Die Summe des BIP beträgt: 13581

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

***6) Letzte Aufgabe:***

Create a new data frame from the original where the area is changed as follows: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

Im Fehlerfall: Wurden alle Importe ausgeführt? Es wird NumPy verwendet!

Coole Links:

* https://www.statology.org/create-column-based-on-condition-pandas/
* https://queirozf.com/entries/pandas-dataframe-groupby-examples
* https://www.geeksforgeeks.org/python-pandas-dataframe-copy-function/
* https://towardsdatascience.com/8-ways-to-filter-pandas-dataframes-d34ba585c1b8
* https://stackoverflow.com/questions/51167612/what-is-the-best-way-to-remove-columns-in-pandas

In [ ]:
newDataFrame = data.copy(deep=True)  # deep=True verhindert, das Änderungen an das Original weitergegeben werden

newDataFrame["groupedArea"]=np.where(newDataFrame["Area"]>1000000,'BIG','SMALL')
newDataFrame.drop("Area",axis=1,inplace=True)
newDataFrame.rename(columns={"groupedArea":"Area"},inplace=True)
newDataFrame.sort_values(by="Area",ascending=False,inplace=True)
newDataFrame

       Name     People   BIP Currency   Area
0   Germany   82521653  3466      EUR  SMALL
1     Japan  126045000  4938      YEN  SMALL
3     Italy   60501718  1850      EUR  SMALL
2    Canada   36503097  1529      CAD    BIG
4  Brazilia  208360000  1798     REAL    BIG